In [ ]:
while condition1 :
    body
    while condition2 :
        body
        break

In [4]:
for i in range(5) :
    print("ali")
    print('veli')
    print(i)

ali
veli
0
ali
veli
1
ali
veli
2
ali
veli
3
ali
veli
4

In [18]:
number = []
for i in (1,2,3,4,5) :
    number.append(i)
print(number)

[1, 2, 3, 4, 5]

In [10]:
names = ["ahmet", "aisha", "adam", "joseph", "gabriel"] 
for i in names :
 print( "hello", i)

hello ahmet
hello aisha
hello adam
hello joseph
hello gabriel

In [23]:
course = input("lütfen bir string giriniz")
for i in course :
    print(i, end="-")

m-e-r-h-a-b-a-

In [36]:
text= "Clarusway"
count = 0

for i in text : 
  count += 1
  if count < len(text) :
        i += "-" 
  print(i, end = "")

C-l-a-r-u-s-w-a-y

In [39]:
Course = "clarusway"
for i in Course :
    print(i, end= "-")
print("\b")

c-l-a-r-u-s-w-a-y

In [50]:
test = [(1,2),(3,4),(5,6),(7,8)]
for i, j in test :
    print(i,j)

1 2
3 4
5 6
7 8

In [68]:
sayı = int(input("lütfen sayı giriniz"))
   for i in range(11):
        print(" {}*{} =".format(i,sayı),i*sayı)

IndentationError: unexpected indent (1399246171.py, line 4)

In [92]:

for i in range (1,10):
    
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [95]:
a = "1"*5
print(a)

11111

In [102]:
print(* range(10,1,-1))

10 9 8 7 6 5 4 3 2

In [108]:
text = ['one', 'two', 'three', 'four', 'five','six']
numbers = [1, 2, 3, 4, 5,6,7]
for x, y in zip(text, numbers):
	print(x, ':', y)

text = ['one', 'two', 'three', 'four', 'five','six']
numbers = [1, 2, 3, 4, 5,6,7]
zipped = zip(text,number)
print(zipped)

one : 1
two : 2
three : 3
four : 4
five : 5
six : 6
<zip object at 0x7f1d8dfc47c0>

In [109]:
text = ['one', 'two', 'three', 'four', 'five','six']
numbers = [1, 2, 3, 4, 5,6,7]
zipped = zip(text,number)
print(zipped)

<zip object at 0x7f1d8dfc4380>

In [117]:
evens = []
odds = []
for i in range(10) :
    if i%2 == 0 :
        evens.append(i)
        
    else :
        odds.append(i)
print("evens :", evens)
print("odds  :", odds)

evens : [0, 2, 4, 6, 8]
odds  : [1, 3, 5, 7, 9]

In [145]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)
a = 0
b = 0
for i in numbers :
    if i%2 == 0 :
        
        a += i
    else :
        b += i
print("çift sayıların toplamı :",a)
print("tek sayıların toplamı :",b)

çift sayıların toplamı : 160
tek sayıların toplamı : 154